# Maven
AssociationManagerApi/target/
AssociationManagerApi/.idea/

# Node
AssociationManagerVue/node_modules/
AssociationManagerVue/node_modules/.cache/

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Database
*.db
